body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    image-resolution:inherit;
    
    padding: 10px;
  }
  
  .row {
    margin: 10px;
    width: 400px;
    height: 120px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid #080808; 
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.781); */
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  .row1 {
    margin: 10px;
    width: 680px;
    height: 150px;
    padding-left: 3.0%;
    display: flex;
  }
  
  .col-4 {
    flex: 33.33%;
    padding: 5px;
  }
  .col {
    margin: 6px;
    width: 261px;
    height: 105px;
    padding: 10px;
    color: rgb(0, 0, 0);
    /* border: 2px solid #021e52; */
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: (#f0f0f0) 3px 3px 6px 1px inset, rgb(156, 156, 156) -3px -3px 6px 1px inset;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*
  .col1 {
    margin: 3px;
    width: 110px;
    height: 160px;
    padding: 10px;
    border: 1px solid rgba(193, 194, 194, 0.808);
    border-radius: 10px;
  
  }*/
  
  .row {
    display: flex;
  }
  
  
  .col-4 {
    margin: 1px;
    width: 160px;
    height: 130px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 3px solid #002936d0;
    background-color: rgb(240, 239, 239);
    border-radius: 5px;
    text-align: center;
  }
  .col-5 {
    margin: 1px;
    width: 160px;
    height: 130px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 3px solid #32772cd0;
    background-color: rgb(240, 239, 239);
    border-radius: 5px;
    text-align: center;
  }
  .col-6 {
    margin: 1px;
    width: 160px;
    height: 130px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 3px solid #798601d0;
    background-color: rgb(240, 239, 239);
    border-radius: 5px;
    text-align: center;
  }
  
  @media screen and (min-width:620px){
    
  }  
  @media screen and (max-hight:400px){
    
  }  
  
  
  
  /* button1*/  
  /* .center {
    width: 730px;
    height: 166px;
    position: absolute;
  }
  
  .btn {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  } */
  /* button1*/ 
  
  /* button2*/  
  
  
  .btn1 {
    left: 90%;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  .btn1:hover {
    transition: 1s ease-in-out;
    background: #03274b;
  }
  
  .btn1:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn1 span {
    color: rgb(2, 24, 95);
    font-size: 18px;
    font-weight: 100;
  }
  /* button2*/ 
  
  
  
  .col1 {
    left: 2%;
    top: 10%;
    width: 100px;
    height: 100px;
    border: 1.5px  #ffffff;
    /* box-shadow: 0 0 15px rgba(0, 0, 36, 0.842); */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .col2 {
    left: 0%;
    top: 10%;
    margin: 5px;
    width: 120px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
    /* button start */
 
    .buttons {      
      display: flex;
      gap: 20em;
      justify-content: center;
      position:relative;
      left: 52%;
      top: 20%;
      transform: translate(-50%, -50%);
      width: 50%;
      
      
    }
    .btn {
      border: 1px solid transparent;
      border-radius: .5em;
      cursor: pointer;
      font-family: sans-serif;
      font-size: 15px;
      font-weight: bold;
      padding: 1em 2em;
      transition: .3s;
  
    }
    .btn.ok {
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.096);
      color: rgb(255, 255, 255);
      background: linear-gradient(to right, #369b46, #369b46);
      border-color: white;
    }
   
    .btn.cancel {
      box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.096);
      color: rgb(255, 255, 255);
      background: linear-gradient(to right, #9b3333, #9b3333);
      border-color: rgb(255, 255, 255);
    }
   /* button end*/